.DS_Store

*.idea/
scala/kafka-scripts/main.iml
scala/kafka-scripts/project/target/*
scala/kafka-scripts/project/project/target/*
scala/kafka-scripts/target/*


java/kafka-producer-scripts/target/*


java/kafka-consumer-scripts/target/*

java/kafka-streams-scripts/target/*

java/avro2pojo/target/*